.header {
  margin-left: 1em;

  .header-bottom {
    border-bottom: 3px solid lightgray;
    font-weight: bold;
    padding-bottom: 1em;
  }
}


.gigCard {
  margin-top: 3em;
  text-align: left;
}

.card-title {
  font-weight: bold;
}

.middle { 
  padding: 2em;
}



.footer {
  border-top: 3px solid lightgray;
  padding-top: 1em;
  

  .contractor-info {
    margin-right: 2.5em;
    font-weight: bold;
  }
}

.bottom {
  margin-top: 4em;
}

.bottom-buttons {
  margin: .5em;
}