.single-gig {
  background-color: rgb(88, 178, 208);
}

.roster-div {
  margin: 6em 6em 3em 6em;
}

.personnel {
  padding-left: 8em;
}

.add-player {
  margin-bottom: 2em;
}

.roster-title {
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(0, 94, 128);
}