.gigForm {
  background-color: rgba(177, 170, 163, 0.728);
  
  .gigForm-header {
    padding-top: 2em;
    text-align: left;
    margin-left: 4em;
  }

  .gig-form {
    margin-top: 3em;
    margin-left: 4em;
    margin-bottom: 4em;
  }
  
  .gig-box {
    margin: 1.5em;
  }

  .checkboxes-div {
    align-items: left;
  }

  .gig-form-button {
    margin: 2em;
  }

}