.gigForm {
  background-color: rgb(61, 100, 147);
  
  .gigForm-header {
    padding-top: 2em;
    text-align: left;
    margin-left: 4em;
    color: white;
    font-weight: bold;
  }

  .gig-form {
    margin-top: 3em;
    margin-left: 4em;
    margin-bottom: 4em;
  }
  
  .gig-box {
    margin: 1.5em;
  }

  .checkboxes-div {
    align-items: left;
  }

  .gig-form-button {
    margin: 2em;
  }

}